* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
    position: relative;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    position: relative;
}

.item {
    position: relative;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    z-index: 2;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}
